@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
/* CSS HEX
--black-olive: #3d3d3bff;
--independence: #4c5870ff;
--cultured: #ebedecff;
--silver-metallic: #a2a9afff;


/* SCSS Gradient
$gradient-top: linear-gradient(0deg, #3d3d3bff, #4c5870ff, #ebedecff, #a2a9afff);
$gradient-right: linear-gradient(90deg, #3d3d3bff, #4c5870ff, #ebedecff, #a2a9afff);
$gradient-bottom: linear-gradient(180deg, #3d3d3bff, #4c5870ff, #ebedecff, #a2a9afff);
$gradient-left: linear-gradient(270deg, #3d3d3bff, #4c5870ff, #ebedecff, #a2a9afff);
$gradient-top-right: linear-gradient(45deg, #3d3d3bff, #4c5870ff, #ebedecff, #a2a9afff);
$gradient-bottom-right: linear-gradient(135deg, #3d3d3bff, #4c5870ff, #ebedecff, #a2a9afff);
$gradient-top-left: linear-gradient(225deg, #3d3d3bff, #4c5870ff, #ebedecff, #a2a9afff);
$gradient-bottom-left: linear-gradient(315deg, #3d3d3bff, #4c5870ff, #ebedecff, #a2a9afff);
$gradient-radial: radial-gradient(#3d3d3bff, #4c5870ff, #ebedecff, #a2a9afff);
 */ 

header {
    background: rgba(162, 169, 175, 0.2);
    height: 90px;
}


.index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px; 
    height: 90px; 
    margin: 0 auto;
}

.index-title a {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 36px;
    text-decoration: none;
    color: #4c5870ff;
}

.index-date {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    color: #a2a9afff;
}

.index-areas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
    height: 80px;
    margin: 30px auto;
}

.index-select-area {
    color:#4c5870ff;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 30px;
    cursor: pointer;
    
    
    
}

.index-select-area:hover {
    color: #a2a9afff;
    text-decoration:underline;
}

.index-select-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: 80px;
    cursor: pointer;
    background: linear-gradient(90deg, #3d3d3bff, #4c5870ff, #ebedecff, #a2a9afff);
    margin: 20px auto;
    opacity: 0.7;
    border-radius: 15px;
}

.index-city {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 26px;
    margin-right: 50px;
    margin-left: 20px;  
    color: #ebedecff;

}

.index-temp {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 26px;
    margin-left: auto;
    margin-right: 20px;
    text-align: right;
    color: #3d3d3bff;
}

.index-weather-icon {
    font-size: 40px;
    margin-right: 50px;
    text-align: center;
}